.footer {
  grid-row: 6 / 7;
  grid-column: 1 / span 10;

  @media only screen and (max-width: 600px) {
    grid-row: 7 / 8;
  }

  //repeat(10, minmax(10vw, min-content))
  background-color: #101d2c;

  font-size: 1.7rem;
  font-weight: 300;
  color: #fff;

  @media only screen and (max-width: 370px) {
    font-size: 1.4rem;
  }

  display: grid;
  grid-template-rows: repeat(4, 5vh);
  grid-template-columns: repeat(5, minmax(20vw, min-content));

  &__text {
    grid-row: 2 / 3;
    grid-column: 2 / span 3;
    display: flex;
    justify-content: center;

    &--link {
      &,
      &:link,
      &:visited {
        position: relative;
        color: #3960bdf8;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.2s;
        padding: 0 5px;
        cursor: pointer;
      }

      &:hover {
        color: rgb(73, 141, 243);
      }
    }
  }

  &__copy {
    grid-column: 2 / span 3;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
  }
}

.borderLeftRight {
  display: inline-block;
  position: relative;
  color: #3960bdf8;
  font-weight: bold;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #51a6ec;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &:hover {
    cursor: pointer;
    &:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
